# OS 별 임시 파일
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# STS (Spring Tool Suite)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# 로그, 임시 파일
*.log
*.tmp

# Application 설정 (민감 정보)
application.yml
application.properties

# 테스트 출력물
test-output/


# 환경 변수 파일 (절대 깃에 올리지 말 것)
.env.local.properties
.env.prod.properties

# 혹시 실수로 다른 이름으로 만들 경우까지 커버
.env.*.propertiesperties
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.env.*.properties

#Apple p8 파일
*.p8
