# OS 별 임시 파일
.DS_Store
Thumbs.db

# Gradle
.gradle/
build/

# STS (Spring Tool Suite)
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# 로그, 임시 파일
*.log
*.tmp

# Application 설정 (민감 정보)
application.yml
application.properties

# 테스트 출력물
test-output/
